%table.program
  %tr
    %td.time= "08:30"
    %td.description.module.start
      %h3
        %strong= "Module 4"
        = "Licensing"
      %ul.document_list
        = list_documents_for_module(4)
  %tr
    %td.time= "10:00"
    %td.description.module
      %h4= "Break"
  %tr
    %td.time= "10:30"
    %td.description.module.end
      %h4= "Licensing"
  %tr
    %td.time= "12:00"
    %td.description
      %h4= "Lunch"
  %tr
    %td.time= "13:30"
    %td.description.module.start.end
      %h3
        %strong= "Module 5"
        = "Start-up?"
      %ul.document_list
        = list_documents_for_module(5)
  %tr
    %td.time= "15:00"
    %td.description
      %h4= "Break"
  %tr
    %td.time= "15:30"
    %td.description.module.start.end
      %h3
        %strong= "Module 6"
        = "Sales"
      %ul.document_list
        = list_documents_for_module(6)
  %tr
    %td.time= "17:00"
    %td.description
      %h4= "Conclusion"
  %tr
    %td.time= "17:30"
    %td.description
      %h4= "End"