- title "Teacher > Edit #{@teacher.name}"

.text
  %h3= "Editing #{@teacher.name}"
- semantic_form_for [:admin, @teacher], :html => { :class => "main" } do |f|
  - f.inputs do
    = f.input :name, :required => true
    = f.input :email, :required => true
    = f.input :module_id
    
  - f.buttons do
    = submit_tag "Update"
  .required_mention= raw "#{content_tag(:abbr, '*', :title => 'required')} required"