= title "Edit teacher: #{content_tag(:em, @teacher.name_or_email)}"

- semantic_form_for [:admin, @teacher], :html => { :class => "main" } do |f|
  - f.inputs do
    = f.input :name
    = f.input :email, :required => true
    = f.input :module_id, :as => :select, :collection => ProgramModule.all, :selected => @teacher.module_id || 1
    
  - f.buttons do
    = f.commit_button "Update teacher"
  .required_mention= raw "#{content_tag(:abbr, '*', :title => 'required')} required"