= title_and_page_title "Edit teacher: #{content_tag(:em, @teacher.name_or_email)}"

= semantic_form_for [:admin, @teacher], :html => { :class => "main" } do |f|
  = f.inputs do
    = f.input :name
    = f.input :email, :required => true
    = f.input :years, :as => :check_boxes, :collection => @teacher.years_for_select

  = f.buttons do
    = f.commit_button "Update teacher"
  = render '/shared/required_mention'

:javascript
  $('teacher_name').focus();
