= title "Teacher: #{content_tag(:em, @teacher.name_or_email)}"

.text.sheet
  .right_box
    %h3= @teacher.name_or_email
    %p.email
      = image_tag "/images/admin/email.png", :alt => "Email"
      = mail_to @teacher.email
    %p
      = content_tag(:strong, "Speaker in module:")
      = module_title(@teacher.module_id)
    %p
      = content_tag(:strong, "Active in:")
      = @teacher.years.to_sentence
  .application_date
    %p.edit= link_to "edit teacher", edit_admin_teacher_path(@teacher), :class => "edit"
  .spacer
  
  - unless @teacher.invitation_accepted?
    .break
    %p
      = content_tag(:strong, "This teacher hasn't accepted his/her invitation yet.")
      = form_for [:admin, @teacher], :html => { :class => "main", :method => :post } do |f|
        = f.hidden_field :email
        = f.submit "Re-send invitation"