- title "Teacher: #{content_tag(:em, @teacher.name || @teacher.email)}", false

.text.sheet
  .right_box
    %h3= @teacher.name || @teacher.email
    %p.email
      = image_tag "/images/admin/email.png", :alt => "Email"
      = mail_to @teacher.email
  .application_date
    %p.edit= link_to "edit teacher", edit_admin_teacher_path(@teacher), :class => "edit"
    
  .spacer
  .card
    - unless @teacher.has_accepted_invitation?
      %p= raw "#{content_tag(:strong, 'Invitation token')}: #{@teacher.invitation_token}"
      %p= " or "
      - form_for :teacher, @teacher, :url => invitation_path(@teacher) do |f|
        = f.hidden_field :email
        %p= f.submit "Re-send an invitation"
          
    %p= raw "#{content_tag(:strong, 'Module')}: #{@teacher.module_id}"