= title "Teacher: #{content_tag(:em, @teacher.name_or_email)}", false

.text.sheet
  .right_box
    %h3= @teacher.name_or_email
    %p.email
      = image_tag "/images/admin/email.png", :alt => "Email"
      = mail_to @teacher.email
  .application_date
    %p.edit= link_to "edit teacher", edit_admin_teacher_path(@teacher), :class => "edit"
    
  .spacer
  .card
    - unless @teacher.has_accepted_invitation?
      %p= raw "#{content_tag(:strong, 'Invitation token')}: #{@teacher.invitation_token}"
      
      = semantic_form_for [:teacher, @teacher], :url => invitation_path(@teacher), :html => { :class => "main", :method => :post } do |f|
        = f.inputs do
          = f.input :email, :as => :hidden
          
        = f.buttons do
          = f.commit_button "Re-send an invitation"
          
    %p= raw "#{content_tag(:strong, 'Module')}: #{@teacher.module_id}"