%table.program
  %tr
    %td.time 08:15
    %td.description
      %h4 Registration
  %tr
    %td.time 08:30
    %td.description
      %h4 Introduction
  %tr
    %td.time 09:00
    %td.description.module.start
      %h3
        %strong Module 1 & 3
        = [@modules[1].try(:title).sub(/ and /, ', '), @modules[3].try(:title)].to_sentence
      %ul.document_list
        = list_documents_for_module(1)
        = list_documents_for_module(3)
  %tr
    %td.time 10:30
    %td.description.module
      %h4 Break
  %tr
    %td.time 11:00
    %td.description.module.end
      %h4= [@modules[1].try(:title).sub(/ and /, ', '), @modules[3].try(:title)].to_sentence
  %tr
    %td.time 12:00
    %td.description
      %h4 Lunch
  %tr
    %td.time 13:30
    %td.description.module.start
      %h3
        %strong Module 1 & 3
      %h4 Guest speaker
  %tr
    %td.time 14:30
    %td.description.module.end
      %h4 Practical work on a patent case
  %tr
    %td.time 15:30
    %td.description
      %h4 Break
  %tr
    %td.time 16:00
    %td.description.module.start.end
      %h3
        %strong Module 2
        = @modules[2].try(:title)
      %ul.document_list= list_documents_for_module(2)
  %tr
    %td.time 17:30
    %td.description
      %h4 Case studies briefing
