%h5.title= "June 9, 2010"

%ul.program
  %li
    %p.time= "08:30"
    %h4.module= "4. Licensing"
    %ul
      = list_documents_for_module(4)
  %li
    %p.time= "10:00"
    %h4= "Break"
  %li
    %p.time= "10:30"
    %h4= "Licensing"
  %li
    %p.time= "12:00"
    %h4= "Lunch"
  %li.break
  %li
    %p.time= "13:30"
    %h4.module= "5. Start-up?"
    %ul
      = list_documents_for_module(5)
  %li
    %p.time= "15:00"
    %h4= "Break"
  %li
    %p.time= "15:30"
    %h4.module= "6. Sales"
    %ul
      = list_documents_for_module(6)
  %li
    %p.time= "17:00"
    %h4= "Conclusion"
  %li
    %p.time= "17:30"
    %h4= "End"
  %li.break