- title "Program Overview & Documents"
- content_for :class_content do
  = "wide"

.text
  %p= "This is the detailed schedule of the course program."

%h5.title= "Day one" 
%table.program_day
  %tr
    %td.period
      %table
        %tr
          %td.time= "08:15"
        %tr
          %td.title= "Accueil"
    %td.docs
  %tr.alt
    %td.period
      %table
        %tr
          %td.time= "08:30"
        %tr
          %td.title= "Welcome"
    %td.docs
  %tr#module1
    %td.period
      %table
        %tr
          %td.time= "09:00"
        %tr
          %td.title= "Invention and Inventors"
    %td.docs
      %ul
        = list_documents_for_module(1)
  %tr.alt
    %td.period
      %table
        %tr
          %td.time= "10:30"
        %tr
          %td.title= "Pause"
    %td.docs
  %tr.alt
    %td.period
      %table
        %tr
          %td.time= "11:00"
        %tr
          %td.title= "Intervenant"
        %tr
          %td.time= "12:00"
    %td.docs
  %tr
    %td.period
      %table
        %tr
          %td.time= "12:05"
        %tr
          %td.title= "Lunch"
    %td.docs
  %tr.alt#module2
    %td.period
      %table
        %tr
          %td.time= "13:30"
        %tr
          %td.title= "Identify the Potential"
        %tr
          %td.time= "15:00"
        %tr
          %td.title= "Pause"
    %td.docs
      %ul
        = list_documents_for_module(2)
  %tr#module3
    %td.period
      %table
        %tr
          %td.time= "15:30"
        %tr
          %td.title= "Intellectual Property"
        %tr
          %td.time= "16:30"
        %tr
          %td.title= "Intervenant"
        %tr
          %td.time= "17:30"
        %tr
          %td.title= "Case study"
    %td.docs
      %ul
        = list_documents_for_module(3)
  %tr.alt
    %td.period
      %table
        %tr
          %td.time= "18:00"
        %tr
          %td.title= "Apéro"
    %td.docs

%h5.title= "Day two"
%table.program_day
  %tr#module4
    %td.period
      %table
        %tr
          %td.time= "08:30"
        %tr
          %td.title= "Licensing"
        %tr
          %td.time= "10:00"
        %tr
          %td.title= "Pause"
        %tr
          %td.time= "10:30"
        %tr
          %td.title= "Licensing"
        %tr
          %td.time= "12:00"
        %tr
          %td.title= "Lunch"
    %td.docs
      %ul
        = list_documents_for_module(4)
  %tr.alt#module5
    %td.period
      %table
        %tr
          %td.time= "13:30"
        %tr
          %td.title= "Start-up?"
        %tr
          %td.time= "15:00"
        %tr
          %td.title= "Pause"
    %td.docs
      %ul
        = list_documents_for_module(5)
  %tr#module6
    %td.period
      %table
        %tr
          %td.time= "15:30"
        %tr
          %td.title= "Sales"
    %td.docs
      %ul
        = list_documents_for_module(6)
  %tr.alt
    %td.period
      %table
        %tr
          %td.time= "17:00"
        %tr
          %td.title= "Clôture"
        %tr
          %td.time= "17:30"
    %td.docs
