- title "Program & documents"

.text
  %h3= "Program Overview"
  %p= "Here is an overview of the course program. Detailed schedule will be communicated on this site to confirmed registered students"
  
%ul
  %li#day_one
    %ol
      %li= "08:15 - 08:30 : Accueil"
      %li= "08:30 - 09:00 : Welcome"
      
      %li#module1
        %p= "09:00 - 10:30 : Invention and Inventors"
        %p= "10:30 - 11:00 : Pause"
        %p= "11:00 - 12:00 : Intervenant"
        %p= "12:05 - 13:30 : Lunch"
        %ul.documents
          %ul
            = list_documents_for_module(1)
              
      %li#module2
        %p= "13:30 - 15:00 : Identify the Potential"
        %p= "15:00 - 15:30 : Pause"
        %ul.documents
          = list_documents_for_module(2)
        
      %li#module3
        %p= "15:30 - 16:30 : Intellectual Property"
        %p= "16:30 - 17:30 : Intervenant"
        %p= "17:30 - 18:00 : Case study"
        %ul.documents
          = list_documents_for_module(3)
          
      %li= "18:00 - xx:xx : Apéro"
      
  %li#day_two
    %ol
      %li#module4
        %p= "08:30 - 10:00 : Licensing"
        %p= "10:00 - 10:30 : Pause"
        %p= "10:30 - 12:00 : Licensing"
        %p= "12:00 - 13:30 : Lunch"
        %ul.documents
          = list_documents_for_module(4)
          
      %li#module5
        %p= "13:30 - 15:00 : Start-up?"
        %p= "15:00 - 15:30 : Pause"
        %ul.documents
          = list_documents_for_module(5)
          
      %li#module6
        %p= "15:30 - 17:00 : Sales"
        %ul.documents
          = list_documents_for_module(6)
          
      %li= "17:00 - 17:30 : Clôture"