= title_and_page_title "#{session[:year]} Course Schedule"

#program_content
  = render "/programs/program_content"

= content_for :sidebar do
  #sidebar
    - if teacher_signed_in? && current_teacher.years.try(:many?)
      %div{ :style => "float:left;" }= raw "Change year:"
      = form_tag :program, :method => 'get' do
        = select_tag "year", options_for_select(current_teacher.years, session[:year]), :id => "change_year"
    .spacer

    %h4
      = "General information"
      %br
      = "and documents"
    %ul.document_list
      = list_documents_for_module(0)
