= title_and_page_title "#{current_user ? current_user.year : Time.now.year} Course Schedule"
        
#program_content
  = render "/programs/#{current_user ? current_user.year : Time.now.year}/program_content"

= content_for :sidebar do
  #sidebar
    %h4= raw "General information<br/> and documents"
    %ul.document_list
      = list_documents_for_module(0)