= title_and_page_title "#{session[:year]} Course Schedule"

#program_content
  = render "/programs/program_content"

= content_for :sidebar do
  #sidebar
    %h4
      = "General information"
      %br
      = "and documents"
    %ul.document_list
      = list_documents_for_module(0)
