%tr[message]{ :class => cycle("", "alt") }
  %td.icon_centered
    %input{ :type => "hidden", :value => admin_message_path(message) }
    - if message.unread?
      = image_tag("/images/admin/unread_icon.png", :alt => "Unread")
  %td.icon_centered
    - if message.replied?
      = image_tag("/images/admin/replied_icon.png", :alt => "Replied")
  %td.from
    %h4= sender_name_with_email_and_mailto(message)
    %p.excerpt= truncate message.content, :length => 160
  %td.datetime
    %span.date= sexy_date(message.created_at)
    %span.time= sexy_time(message.created_at)
  %td
    - if message.trashed?
      = update_field_form(message, :trashed_at, nil, "untrash", {}, :id => "untrash_message_#{message.id}", :class => "button delete")
    - else
      = update_field_form(message, :trashed_at, Time.now.utc, "trash", {}, :id => "trash_message_#{message.id}", :class => "button delete")
