- title 'mintt: admin | Messages'
.text
  %h3= "Messages"
  
  %table
    %tr
      %th= link_to "At", admin_messages_path(sort_parameters('created_at'))
      %th= link_to "Read?", admin_messages_path(sort_parameters('read'))
      %th= link_to "Replied?", admin_messages_path(sort_parameters('replied'))
      %th= link_to "From (email)", admin_messages_path(sort_parameters('sender_name'))
      %th Content
      %th Edit
      %th Delete
      
    - @messages.each do |message|
      %tr[message]
        %td= sexy_date(message.created_at)
        %td= message.read
        %td= message.replied
        %td= message_sender_name_with_email(message)
        %td= link_to(words_count(message.content), admin_message_path(message))
        %td= link_to("edit", edit_admin_message_path(message))
        %td= button_to("delete", admin_message_path(message), :confirm => "Are you sure?", :method => :delete, :id => "delete_message_#{message.id}")
  #pagination
    = will_paginate @messages