- title 'mintt: admin | Messages'
.text
  %h3= "Messages"
  
  %table
    - 5.times do
      %col{ :class => cycle("even", "odd") }
    %tr
      %th.icon_centered= link_to image_tag("/images/admin/unread_label_icon.png", :alt => "Unread?"), admin_messages_path(sort_parameters('read'))
      %th.icon_centered= link_to image_tag("/images/admin/replied_label_icon.png", :alt => "Replied?"), admin_messages_path(sort_parameters('replied'))
      %th= link_to "From", admin_messages_path(sort_parameters('sender_name'))
      %th= link_to "Date Received", admin_messages_path(sort_parameters('created_at'))
      %th
      
    - @messages.each do |message|
      %tr[message]{ :class => cycle("", "alt") }
        %td.icon_centered
          %input{ :type => "hidden", :value => admin_message_path(message) }
          -if !message.read?
            = image_tag("/images/admin/unread_icon.png", :alt => "Unread")
        %td.icon_centered
          - if !message.replied?
            = image_tag("/images/admin/replied_icon.png", :alt => "Replied")
        %td.from
          %h4= message_sender_name_with_email(message)
          %p.excerpt= truncate message.content, :length => 160
        -#%td= link_to(words_count(message.content), admin_message_path(message))
        %td.datetime
          %span.date= sexy_date(message.created_at)
          %span.time= message.created_at.strftime("%I:%m %p")
        %td= button_to("delete", admin_message_path(message), :confirm => "Are you sure?", :method => :delete, :id => "delete_message_#{message.id}")
  #pagination
    = will_paginate @messages