= title_and_page_title "#{params[:trashed] ? "Trashed m" : "M"}essages"

.text
  .actions_right
    = link_to("Go to #{params[:trashed] ? "Inbox" : "Trash"}", admin_messages_path(:trashed => !params[:trashed]))
  #messages_table_wrap= render 'messages'