= title_and_page_title "#{params[:trashed] ? "Trashed m" : "M"}essages"

.text
  .actions_right
    = link_to("Go to #{params[:trashed] ? "Inbox" : "Trash"}", params[:trashed] ? inbox_admin_messages_path : trash_admin_messages_path)
  #messages_table_wrap= render 'messages'