- title "mintt: admin | Messages > From #{message_sender_name(@message)} received #{time_ago_in_words(@message.created_at)}"

.text.mail
  %h3= "Message"
  
  .actions_left
    - if @message.unreplied?
      = button_to("Mark as replied", reply_admin_message_path(@message), :method => :put, :id => "reply_message_#{@message.id}", :class => "button mark_as_replied")
    - if @message.trashed?
      = button_to("Move to inbox", untrash_admin_message_path(@message), :method => :put, :id => "untrash_message_#{@message.id}", :class => "button move_to_inbox")
    - else
      = button_to("Move to trash", trash_admin_message_path(@message), :method => :put, :id => "trash_message_#{@message.id}", :class => "button move_to_trash")
    .spacer
  .actions_right
    = back_to_inbox_or_trash(@message)
    
  .content
    .from= "<strong>From</strong>: #{message_sender_name_with_email_and_mailto(@message, 'hex', "#{message_sender_name_with_email(@message)} wrote on #{@message.created_at}:\n\n#{@message.content}")}"
    .date= "<strong>Date Received</strong>: #{sexy_date(@message.created_at)}, #{sexy_time(@message.created_at)}"
    .body= @message.content