= title show_message_title(@message)

.text.mail
  %h3= "Message"
  
  .actions_left
    - if @message.unreplied?
      = update_field_form(@message, :replied_at, Time.now, "Mark as replied", {}, :id => "reply_message_#{@message.id}", :class => "button mark_as_replied")
    - if @message.trashed?
      = update_field_form(@message, :trashed_at, nil, "Move to inbox", {}, :id => "untrash_message_#{@message.id}", :class => "button move_to_inbox")
    - else
      = update_field_form(@message, :trashed_at, Time.now, "Move to trash", {}, :id => "trash_message_#{@message.id}", :class => "button move_to_trash")
    .spacer
  .actions_right
    = back_to_inbox_or_trash(@message)
    
  .content
    .from
      = content_tag(:strong, "From: ")
      = sender_name_with_email_and_mailto(@message, 'hex', "\n\n\n#{message_sender_name_with_email(@message)} wrote on #{@message.created_at}:\n\n#{@message.content}")
    .date
      = content_tag(:strong, "Date Received: ")
      = "#{sexy_date(@message.created_at)} #{sexy_time(@message.created_at)}"
    .body= message_content(@message)