- t = "Edit my information"
- title t

%h2= t
- form_for resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put } do |f|
  = f.error_messages
  
  - if resource_name == :teacher
    %p
      = f.label :name
      %br
      = f.text_field :name
  
  %p
    = f.label :email
    %br
    = f.text_field :email
    
  %p
    = f.label :password
    %br
    = f.password_field :password
    
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  
  %p
    = f.label :current_password
    %em= "(we need it to confirm your changes)"
    %br
    = f.password_field :current_password
  
  %p= f.submit 'Update'