= "Hello #{@resource.email}!"
= "\n\n"
= "Someone (probably you) has requested to change your password, and you can do this through the link below:\n"
= "\n\n"
= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
= "\n\n"
= "If you didn't request this, please ignore this email.\n"
= "Your password won't change until you access the link above and create a new one.\n"
= "\n\n"
= "If you have any question, feel free to contact us: https://#{MINTT_EPFL}/contact"
