- t = "Send invitation"
- title t

.text
  %h3= t
- form_for resource_name, resource, :url => invitation_path(resource_name) do |f|
  = f.error_messages
  
  %p= f.label :email
  %p= f.text_field :email
  
  %p= f.submit t