- t = resource.password.blank? ? "Set my password & create my account" : "Change my password"
- title t

%h2= t
- form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = f.error_messages
  = f.hidden_field :reset_password_token
  %p
    = f.label :password
    %br
    = f.password_field :password
    = error_message_on resource, :password
  
  %p
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
    = error_message_on resource, :password_confirmation
    
  %p= f.submit t
