= title "Set my password"

= semantic_form_for [resource_name, resource], :url => update_teacher_invitation_path, :html => { :class => "main", :method => :put } do |f|
  = f.inputs do
    = f.input :invitation_token, :as => :hidden
    = f.input :password, :required => true
    = f.input :password_confirmation, :required => true
    
  = f.buttons do
    = f.commit_button "Set my password"
  = render '/shared/required_mention'