= raw "#{@message.sender_name} <#{@message.sender_email}> sent you a message from mintt.epfl.ch."
= "\n\n"
= "Click on the following link to view it in the mintt administration interface:\n\n#{admin_message_url(@message)}"
= "\n\n"
= "Message :"
= "\n#{@message.content}"
