%table
  %colgroup
    - 6.times do
      %col{ :class => cycle("even", "odd") }
  %tr
    %th= link_to "Published", admin_documents_path(sort_parameters('published_at', params)), :remote => true
    %th= link_to "Title", admin_documents_path(sort_parameters('title', params)), :remote => true
    %th= link_to "Module", admin_documents_path(sort_parameters('module_id', params)), :remote => true
    %th= link_to "Publication date", admin_documents_path(sort_parameters('published_at', params)), :remote => true
    %th
    %th
  = render @documents

= will_paginate(:params => { :format => nil })#, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')
= page_entries_info @documents
