= semantic_form_for [:admin, @document], :html => { :class => "main", :multipart => true } do |f|
  = f.inputs do
    = f.input :title, :required => true
    = f.input :description, :as => :text
    = f.label :module_id
    #module_id_select= render 'module_id_select'
    = f.input :file, :as => :file, :required => true, :html => { :style => 'background-color:#333;' }
    - unless @document.new_record?
      = content_tag(:strong, "Current file: ")
      = link_to(@document.filename, document_path(@document))

    %li.select
      = f.label :published_at, "Publish on (current time is: #{l(Time.now.in_time_zone, :format => :long)}):"
      - @document.published_at = (@document.published_at || Time.now.utc.change(:year => session[:admin_year].to_i)) + (@document.published_at || Time.now.utc.change(:year => session[:admin_year].to_i)).in_time_zone.utc_offset
      = f.datetime_select(:published_at, :default => Time.now.in_time_zone)

  = f.actions do
    = f.action(:submit, :label => "#{@document.new_record? ? "Create" : "Update"} document")
  = render '/shared/required_mention'

:javascript
  $('document_title').focus();
