- semantic_form_for [:admin, @document], :html => { :class => "main", :multipart => true } do |f|
  - f.inputs do
    = f.input :title
    = f.input :module_id, :as => :select, :collection => ProgramModule.all, :selected => 1
    = f.input :file, :as => :file
    = pretty_file(@document)
    
  - f.buttons do
    = submit_tag @document.new_record? ? "Create" : "Update"
  .required_mention= raw "#{content_tag(:abbr, '*', :title => 'required')} required"