- title 'Documents'

= link_to "New document", new_admin_document_path

.text
  %h3= "Documents"
  %table
    %colgroup
      - 7.times do
        %col{ :class => cycle("even", "odd") }
    %tr
      %th= link_to "Title", admin_documents_path(sort_parameters('title'))
      %th= link_to "Module", admin_documents_path(sort_parameters('module_id'))
      %th
      %th
      
    - @documents.each do |document|
      = render 'document', :object => document