- title "Document: #{content_tag(:em, @document.title)}", false

.text.sheet
  .right_box
    %h3= @document.title
  .application_date
    %p.edit= link_to "edit document", edit_admin_document_path(@document), :class => "edit"
  .spacer
  
  %p= raw "#{content_tag(:strong, 'Module ID')}: #{@document.module_id}"
  
  %p= raw "#{content_tag(:strong, 'Published on')}: #{@document.published_at.to_s(:full)}"
  
  #document{ :class => pretty_class(@document) }
    %p
      - if @document.image?
        = image_tag(@document.url)
      - else
        = pretty_file(@document)