= dynamic_page_title "’10 Students: #{count_of_total_for(@users)}"

%table
  %colgroup
    - 8.times do
      %col{ :class => cycle("even", "odd") }
  %tr
    %th= link_to "’10", admin_users_path(sort_parameters('selected_at', params)), :remote => true
    %th= link_to "Gender", admin_users_path(sort_parameters('gender', params)), :remote => true
    %th= link_to "Name", admin_users_path(sort_parameters('last_name', params)), :remote => true
    %th= link_to "School", admin_users_path(sort_parameters('school', params)), :remote => true
    %th= link_to "Supervisor", admin_users_path(sort_parameters('thesis_supervisor', params)), :remote => true
    %th= link_to "Application Date", admin_users_path(sort_parameters('confirmed_at', params)), :remote => true
    %th
    %th
  = render @users
  
- if params.key? :all
  .right_links= link_to "View with paginate", admin_users_path, :remote => true
- elsif @users.total_entries > User.per_page
  .right_links= link_to "View all", admin_users_path(:all => true), :remote => true
  = will_paginate(:params => { :format => nil }, :renderer => 'WillPaginate::ViewHelpers::LinkRendererRemote')