= title_and_page_title "Edit student: #{content_tag(:em, full_name(@user))}"

= semantic_form_for [:admin, @user], :html => { :class => "main" } do |f|
  = f.inputs do
    %li.confirmation_box
      %ol
        %li#user_state_input.boolean
          = content_tag(:label, :for => 'user_state') do
            = raw "#{f.check_box(:state, { :checked => @user.selected?, :class => "checkbox" }, 'selected', 'candidate')} Selected and confirmed for the mintt program?"
            %p.candidate_selected_contextual_info{ :style =>'display:none;' }= "A sign-up email will be sent to this student." unless @user.selected?
        %li#user_year_input.date.candidate_selected_contextual_info{ :style => hide_if_selected(@user) }
          = content_tag(:label, :for => 'user_year') do
            = raw "Year of selection: #{select_year(@user.year, { :start_year => 1992, :end_year => Time.now.year }, { :name => 'user[year]' })}"
        %li#user_case_study_title.candidate_selected_contextual_info{ :style => hide_if_selected(@user) }
          = content_tag(:label, :for => 'user_case_study_title', :class => 'string') do
            = raw "Case study title: #{f.text_field(:case_study_title)}"
        %li#user_case_study_teacher.candidate_selected_contextual_info{ :style => hide_if_selected(@user) }
          = content_tag(:label, :for => 'user_case_study_teacher', :class => 'string') do
            = raw "Responsible teacher: #{f.text_field(:case_study_teacher)}"
        %li#user_credits_granted.candidate_selected_contextual_info{ :style => hide_if_selected(@user) }
          = content_tag(:label, :for => 'user_credits_granted') do
            = raw "Credits granted: #{f.select(:credits_granted, [["Not yet", nil], ["0 credits", 0], ["3 credits", 3]])}"
        %li
          = f.buttons do
            = submit_tag "Update student", :confirm => "Are you sure to update #{full_name(@user)} informations?"
            
= semantic_form_for [:admin, @user], :html => { :class => "main" } do |f|
  = f.inputs do
    = f.input :gender, :as => :radio, :collection => male_female_for_select, :required => true
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :school, :required => true
    = f.input :lab, :required => true
    = f.input :email, :required => true
    = f.input :phone, :required => true
    = f.input :url, :label => "EPFL url or personal page"
    = f.input :linkedin_url, :label => "LinkedIn url"
    = f.input :thesis_supervisor, :required => true
    = f.input :thesis_subject, :as => :text, :required => true
    = f.input :thesis_registration_date, :as => :date, :prompt => true, :selected => @user.nil? || @user.thesis_registration_date.nil?? 0 : @user.thesis_registration_date
    = f.input :thesis_admission_date, :as => :date, :prompt => true, :selected => @user.nil? || @user.thesis_admission_date.nil? ? 0 : @user.thesis_admission_date
    = f.input :supervisor_authorization, :as => :radio, :collection => yes_no_for_select, :label => "Do you have the agreement of your thesis supervisor to participate to mintt?", :required => true
    = f.input :doctoral_school_rules, :as => :radio, :collection => yes_no_for_select, :label => "Are you subject to EPFL doctoral school regulations and do you need credits?", :required => true
    = f.input :thesis_invention, :as => :text, :label => "Have you made an invention in the course of your thesis? If yes, could you briefly describe it?:"
    = f.input :motivation, :as => :text, :label => "Could you describe what motivates you to participate to this course?", :required => true
    
  = f.buttons do
    = submit_tag "Update student", :confirm => "Are you sure to update #{full_name(@user)} informations?"
  = render '/shared/required_mention'