- title "Candidates > Edit #{full_name(@user)}"

.text
  %h3= "Editing #{full_name(@user)}"
- semantic_form_for [:admin, @user], :html => { :class => "main" } do |f|
  - f.inputs do
    %li.confirmation_box
      %ol
        %li#user_is_selected_input.boolean
          - content_tag(:label, :for => 'user_is_selected') do
            = raw "#{f.check_box(:is_selected, :checked => @user.has_been_selected?, :class => "checkbox")}Selected and confirmed for the mintt program?"
            %p.candidate_selected_contextual_info{ :style =>'display:none;' }= "A sign-up email will be sent to this student." unless @user.has_been_selected?
        %li#user_year_input.date.candidate_selected_contextual_info{ :style => @user.has_been_selected? ? '' : 'display:none;' }
          - content_tag(:label, :for => 'user_is_year') do
            = raw "Year of selection: #{select_year(@user.year, { :start_year => 1992, :end_year => Time.now.year }, { :name => 'user[year]' })}"
        %li
          - f.buttons do
            = submit_tag "Update", :confirm => "Are you sure to update #{full_name(@user)} informations?"
            
    = f.input :gender, :as => :radio, :collection => [["Mrs.", "female"], ["Mr.", "male"]], :required => true
    = f.input :first_name, :required => true
    = f.input :last_name, :required => true
    = f.input :school, :required => true
    = f.input :lab, :required => true
    = f.input :email, :required => true
    = f.input :phone, :required => true
    = f.input :url, :label => "EPFL url or personal page"
    = f.input :linkedin_url, :label => "LinkedIn url"
    = f.input :thesis_supervisor, :required => true
    = f.input :thesis_subject, :as => :text, :required => true
    = f.input :thesis_registration_date, :as => :date, :prompt => true, :selected => @user.nil? || @user.thesis_registration_date.nil?? 0 : @user.thesis_registration_date
    = f.input :thesis_admission_date, :as => :date, :prompt => true, :selected => @user.nil? || @user.thesis_admission_date.nil? ? 0 : @user.thesis_admission_date
    = f.input :supervisor_authorization, :as => :radio, :collection => [["Yes", "yes"], ["No", "no"]], :label => "Do you have the agreement of your thesis supervisor to participate to mintt?", :required => true
    = f.input :doctoral_school_rules, :as => :radio, :collection => [["Yes", "yes"], ["No", "no"]], :label => "Are you subject to EPFL doctoral school regulations and do you need credits?", :required => true
    = f.input :thesis_invention, :as => :text, :label => "Have you made an invention in the course of your thesis? If yes, could you briefly describe it?:"
    = f.input :motivation, :as => :text, :label => "Could you describe what motivates you to participate to this course?", :required => true
    
  - f.buttons do
    = submit_tag "Update", :confirm => "Are you sure to update #{full_name(@user)} informations?"
  .required_mention= raw "#{content_tag(:abbr, '*', :title => 'required')} required"