- title 'mintt: admin | Users'
.text
  %h3= "Users"
  
  %table
    %colgroup
      - 16.times do
        %col{ :class => cycle("even", "odd") }
    %tr
      %th
      %th= link_to "Name", admin_users_path(sort_parameters('first_name'))
      %th= link_to "Faculty", admin_users_path(sort_parameters('faculty'))
      %th= link_to "Phone", admin_users_path(sort_parameters('phone'))
      %th= link_to "Supervisor", admin_users_path(sort_parameters('thesis_supervisor'))
      %th
      %th
      
    - @users.each do |user|
      %tr[user]{ :class => cycle("", "alt") }
        %td= user_gender(user)
        %td= link_to user_full_name(user), admin_user_path(user)
        %td= user.faculty
        %td= user.phone
        %td= user.thesis_supervisor
        %td= link_to("edit", edit_admin_user_path(user))
        %td= button_to("delete", admin_user_path(user), :confirm => "Are you sure?", :method => :delete)
        
  #pagination
    = will_paginate @users