- title "Candidates > #{full_name(@user)}"

.text.sheet
  .left_box
    = image_tag "/images/admin/#{@user.gender}_big.png", :alt => @user.gender
  .right_box
    %h3= full_name(@user)
    %p.email
      = image_tag "/images/admin/email.png", :alt => "Email"
      = mail_to @user.email
  .application_date
    = content_tag(:em, display_date(@user.confirmed_at))
    %p.edit= link_to "edit user", edit_admin_user_path(@user)
    
  .spacer
  .card
    %p
      = image_tag "/images/admin/school.png", :alt => "School"
      = "#{@user.school} (lab: #{@user.lab})"
      
    %p
      = image_tag "/images/admin/phone.png", :alt => "Phone"
      = @user.phone
      
    - unless @user.url.blank?
      %p
        = image_tag "/images/admin/web.png", :alt => "Url"
        = user_url(@user)
        
    - unless @user.linkedin_url.blank?
      %p
        = image_tag "/images/admin/linkedin.png", :alt => "LinkedIn"
        = user_linkedin_url(@user)
        
  .text_box
    %p= content_tag(:strong, "#{@user.selected_at.present? ? 'S' : 'Not s'}elected to participate in the #{@user.year} program")
    %p= raw "#{content_tag(:strong, 'Thesis supervisor')}: #{@user.thesis_supervisor}"
    %p= raw "#{content_tag(:strong, 'Thesis subject')}: #{@user.thesis_subject}"
    %p= raw "#{content_tag(:strong, 'Thesis registration date')}: #{display_date(@user.thesis_registration_date)}"
    %p= raw "#{content_tag(:strong, 'Thesis admission date')}: #{display_date(@user.thesis_admission_date)}"
    %p= raw "#{content_tag(:strong, 'Thesis invention')}: #{@user.thesis_invention}"
    %p= raw "#{content_tag(:strong, 'Supervisor authorization')}: #{@user.supervisor_authorization}"
    %p= raw "#{content_tag(:strong, 'Subject to EPFL doctoral school regulations and does he/she needs credits?')}: #{@user.doctoral_school_rules}"
    %p= raw "#{content_tag(:strong, 'Motivation')}: #{@user.motivation}"
    
    %p
    - semantic_form_for [:admin, @user], :html => { :class => "main" } do |f|
      - f.inputs do
        = f.input :comment, :as => :text, :label => "SRI Comment"
        
      - f.buttons do
        = f.commit_button "Save comment"