#header
  #halo
  %h1
    = link_to root_path do
      %span= "mintt"
  %h2= "Management of Innovation and Technology Transfer"
  %ul#menu
    %li.home
      = link_to root_path do
        %span= "Home"
    %li{ :class => ('active' if controller_name == 'programs') }= link_to "Program", "/program"
    %li{ :class => ('active' if params[:id] == 'modules') }= link_to "Modules", "/modules"
    - if APPLICATIONS_OPEN && !user_signed_in? && !teacher_signed_in?
      %li{ :class => ('active' if controller_name == 'applications') }= link_to "Application", new_user_application_path
    %li{ :class => ('active' if controller_name == 'messages') }= link_to "Contact", contact_path