#sidebar
  - if SiteSettings.applications_open
    - if !user_signed_in? && !teacher_signed_in?
      %h3= "#{current_year - 1} - #{current_year} Academic Year Application"
      %p= "The applications are now open till April 30th, #{current_year}. Please note your application is subject to a selection process and confirmation. Please use the button below to apply."
      .box
        = link_to new_user_registration_path, :id => "registration_button" do
          %span= "Apply for the #{current_year - 1} - #{current_year} course"
  - else
    %p
      = "We thank you for your interest."
      %br
      = "#{current_year} Registrations are now closed."
      %br
      = "Next session will be announced in early #{current_year + 1}."

  %h4= "Organizing Entities"
  %ul.entities
    %li.first= link_to image_tag("/images/epfl_logo.png", :alt => "EPFL Logo"), "http://www.epfl.ch", :onclick => 'window.open(this); return false'
    %li= link_to "TTO #{content_tag(:em, '(Technology Transfer Office)')}".html_safe, "http://sri.epfl.ch", :onclick => 'window.open(this); return false'
    %li.last= link_to "CDM", "http://cdm.epfl.ch", :onclick => 'window.open(this); return false'

  %h4= "Course Information"
  %ul
    %li= "Language: English"
    %li= "When: #{pretty_course_dates(current_year)}"
    %li= "Number of credits: 2"
    %li= "Number of students: ca 30 max. Decided upon a selection balancing several factors including multi-disciplinarity among participants, need for credits and PhD year"
    %li= "Form of Exam: Project report and oral presentation"
    %li
      = "Delay to submit application: End of April #{current_year}"
      - if SiteSettings.applications_open && !user_signed_in? && !teacher_signed_in?
        = raw " through #{link_to 'online application', new_user_registration_path}"
    %li= raw "Location: #{link_to "EPFL Innovation Park, Building C, Neptune room", 'http://g.co/maps/gaapx', :onclick => 'window.open(this); return false'}"

  %h4= "More info"
  %p= raw "If you have any question, please contact us through the following #{link_to 'form', contact_path}."
.spacer
