- if user_signed_in?
  %ul
    %li= link_to "Program content", "/program"
    %li= link_to "Modules documents", "/docs"
    %li= link_to "Log out", destroy_user_session_path
  - link_to edit_user_registration_path, :class => "user #{controller_name == 'registrations' ? 'active' : ''}" do
    %strong
      %span.icon= full_name(current_user)
    %span.corner
- else
  - link_to new_user_session_path, :class => "user" do
    %strong
      %span.icon= "Log in"
    %span.corner
