!!! 5
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}

    %title= "mintt admin#{yield(:title)}"

    = stylesheet_link_tag 'style', 'admin'
    = stylesheet_link_tag 'print', :media => "print"

    = javascript_include_tag "http#{ request.ssl? ? 's':'' }://use.typekit.com/qwi4bur.js"
    = javascript_tag "try{Typekit.load();}catch(e){};"
    /[if gte IE 7]
      == <script type="text/javascript">var curvyCornersNoAutoScan = true;</script>
      = javascript_include_tag 'curvycorners'
    = javascript_include_tag 'admin'
  %body
    = render :partial => 'layouts/flash', :object => flash
    #global
      #header
        #halo
        %h1
          = link_to root_path do
            %span= "mintt"
        %h2= "Management of Innovation and Technology Transfer"
        = link_to admin_path, :id => "admin_label" do
          %span= "Admin"
        %ul#menu
          %li.home
            = link_to admin_path do
              %span= "Home"
          %li{ :class => ('active' if controller_name == 'users') }= link_to "Students", [:admin, :users]
          %li{ :class => ('active' if controller_name == 'teachers') }= link_to "Teachers", [:admin, :teachers]
          %li{ :class => ('active' if controller_name == 'documents') }= link_to "Documents", [:admin, :documents]
          %li{ :class => ('active' if controller_name == 'modules') }= link_to "Modules", [:admin, :teaching_modules]
          %li{ :class => ('active' if controller_name == 'messages') }= link_to "Messages", [:inbox, :admin, :messages]
          %li{ :class => ('active' if controller_name == 'mail_templates') }= link_to "Mail templates", [:admin, :mail_templates]
      #content.admin{ :class => "#{controller_name} #{action_name}" }
        = yield(:page_title)
        = yield
      #sidebar
        = yield :sidebar
      .spacer
      = render 'layouts/footer'
