!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    
    %title= "mintt#{yield(:title)}"
    
    %link{ :href => "/stylesheets/style.css", :type => "text/css", :media => "screen", :rel => "stylesheet" }
    %script{ :type => "text/javascript", :src => "http#{request.ssl? ? 's' : ''}://use.typekit.com/qwi4bur.js" }
    %script{ :type => "text/javascript" }= "try{Typekit.load();}catch(e){};"
    /[if gte IE 7]
      == <script type="text/javascript">var curvyCornersNoAutoScan = true;</script>
      %script{ :src => "/javascripts/curvycorners.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/prototype.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/application.js", :type => "text/javascript" }
    
  %body
    = render 'layouts/flash', :object => flash
    #global
      = render 'layouts/header'
      #content
        = render 'layouts/user_header'
        = render 'layouts/teacher_header'
        %h1= yield(:page_title)
        = yield
      = render 'layouts/sidebar'
      = render 'layouts/footer'
      
    - google_analytics