!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    
    %title= h(yield(:title) || "mintt")
    
    %link{ :href => "/stylesheets/style.css", :type => "text/css", :media => "screen", :rel => "stylesheet" }

    %script{ :type => "text/javascript", :src => "http://use.typekit.com/qwi4bur.js" }
    %script{ :type => "text/javascript" }= "try{Typekit.load();}catch(e){};"

  %body
    - flash.each do |key, value|
      #flash{ :class => "flash_#{key}"}= h value
    #global
      #header
        #halo
        %h1
          - link_to root_path do
            %span= "mintt"
        %h2= "Management of Innovation and Technology Transfer"
        %ul#menu
          %li.home
            - link_to root_path do
              %span= "Home"
          %li{ :class => ('active' if params[:id] == 'modules') }= link_to "Modules", "/modules"
          %li{ :class => ('active' if controller_name == 'applications') }= link_to "Application", new_user_registration_path
          %li= link_to "Contact", "/contact"
      #content
        = yield
      #sidebar
        %h3= "2010 Application"
        %p= "The applications are now open till the end of April 2010. Use the button below to apply."
        .box
          - link_to new_user_registration_path, :id => "registration_button" do
            %span= "Apply for the 2010 course"
        %h4= "Organizing Entities"
        %ul.entities
          %li.first= link_to image_tag("/images/epfl_logo.png", :alt => "EPFL Logo"), "http://www.epfl.ch", :onclick => 'window.open(this); return false'
          %li= link_to "SRI <em>(Tech transfer Office)</em>", "http://sri.epfl.ch", :onclick => 'window.open(this); return false'
          %li.last= link_to "CDM", "http://cdm.epfl.ch", :onclick => 'window.open(this); return false'
        %h4= "Course Information"
        %ul
          %li= "Language: English"
          %li= "When: June 8 & 9 and October 6, 2010"
          %li= "Number of credits: 3"
          %li= "Number of students: 18 max. Decided upon a selection balancing several factors including multi-disciplinarity"
          %li= "Composed of #{ link_to '8 modules', page_path('modules') }"
          %li= "Form of Exam: Oral presentation and project report"
          %li= "Delay to submit application: End of April 2010 through #{ link_to 'online application', new_user_registration_path }"
          %li= "Location: #{ link_to 'EPFL Science Park, PSE-C building', 'http://bit.ly/aWDL19', :onclick => 'window.open(this); return false' }"
        %h4= "More info"
        %p= "If you have any question, Please contact us through the following #{link_to 'form', '/contact'}."
      .spacer
      #footer
        %p= "#{ link_to 'Contact', '/contact' } |  © 2010 EPFL , SRI, CM 2-Station 10, CH-1015 Lausanne, tel. +41 (0)21 693 70 23"
