!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }

    %title= "mintt#{yield(:title)}"

    = stylesheet_link_tag 'application'

    = javascript_include_tag 'https://use.typekit.com/qwi4bur.js'
    = javascript_tag 'try{Typekit.load();}catch(e){};'
    /[if gte IE 7]
      == <script type="text/javascript">var curvyCornersNoAutoScan = true;</script>
      = javascript_include_tag 'curvycorners'
    = javascript_include_tag 'application'

  %body
    = render :partial => 'layouts/flash', :object => flash
    = render 'layouts/user_header'
    #global
      = render 'layouts/header'
      #content
        = yield(:page_title)
        = yield
      - if %w[programs registrations].include?(controller_name)
        = yield(:sidebar)
      - else
        = render 'layouts/sidebar'
      = render 'layouts/footer'
