- current_year = SiteSettings.course_dates.respond_to?("_#{Time.now.utc.year}") ? Time.now.utc.year : Time.now.utc.year - 1
= title "#{current_year -1 } - #{current_year} Application"

.text
  %h3= "Application form for mintt #{current_year -1 } - #{current_year}"
  %p
    %strong= "June 5 & 6 and October 2, 2012"
  %p= "Please fill out the following form precisely and clearly."

#register
  = semantic_form_for [resource_name, resource], :url => registration_path(resource_name), :html => { :class => "main" } do |f|
    = f.inputs do
      = f.input :gender, :as => :radio, :collection => [["Mrs.", "female"], ["Mr.", "male"]], :required => true
      = f.input :first_name, :required => true
      = f.input :last_name, :required => true
      = f.input :school_and_lab, :required => true, :label => "School and lab.<br /><small><em>Please type the full code as found in your record in EPFL directory. For instance: EPFL IC ISC LCAV.</em></small>".html_safe
      = f.input :email, :required => true
      = f.input :phone, :required => true
      = f.input :url, :label => "EPFL url or personal page"
      = f.input :linkedin_url, :label => "LinkedIn url"
      = f.input :thesis_supervisor, :required => true
      = f.input :thesis_subject, :as => :text, :required => true
      = f.input :thesis_registration_date, :as => :date, :start_year => Time.now.utc.year - 5, :end_year => Time.now.utc.year + 5, :prompt => true, :selected => resource.nil? || resource.thesis_registration_date.nil? ? 0 : resource.thesis_registration_date, :label => "EPFL Doctoral studies enrollment date (the date you officially started working on defining your thesis topic)"
      = f.input :thesis_admission_date, :as => :date, :start_year => Time.now.utc.year - 5, :end_year => Time.now.utc.year + 5, :prompt => true, :selected => resource.nil? || resource.thesis_admission_date.nil? ? 0 : resource.thesis_admission_date, :label => "EPFL Doctoral studies admission date (the date you officially started working on an approved thesis topic)"
      = f.input :supervisor_authorization, :as => :radio, :collection => [["Yes", "yes"], ["No", "no"]], :label => "Do you have the agreement of your thesis supervisor to participate to mintt?", :required => true
      = f.input :doctoral_school_rules, :as => :radio, :collection => [["Yes", "yes"], ["No", "no"]], :label => "Are you subject to EPFL doctoral school regulations and do you need credits?", :required => true
      = f.input :thesis_invention, :as => :text, :label => "Have you made an invention in the course of your thesis? If yes, could you briefly describe it?:"
      = f.input :motivation, :as => :text, :label => "Could you describe what motivates you to participate to this course?", :required => true
      %li
        %p= "I hereby confirm that I will attend mintt on June 5 & 6 and October 2, 2012, the whole day. I also confirm I have well taken note I will dedicate at least 30 hours during summer 2012 to work on an EPFL invention case study. Failing to comply with the above might result in getting no course credits."
      = f.input :agreement, :as => :boolean, :label => "I agree", :required => true

    = f.actions do
      = f.action(:submit, :label => "Apply")
    = render '/shared/required_mention'
